*.bak
.DS_Store
notes.txt
TEDS-A/credentials_local.json
TEDS-A/credentials_remote.json
TEDS-D/credentials_local.json
TEDS-D/credentials_remote.json
TEDS-A/csv_files
TEDS-D/csv_files
TEDS-A/codebooks/TEDS-A*
TEDS-D/codebooks/TEDS-D*
*.pdf
old/
output.sql